@import '../../assets/scss/variables';

.sidebar {
   min-width: 264px;

   & .sidebarItems {
      width: 100%;
      border: 1px solid $periwinkleCrayola;
      border-radius: 18px;
      padding: 12px;
   }
}